# Numpy and Pandas Review

### Introduction

In this lesson, we'll work through some problems with our spotify dataset to practice pandas and numpy skills.

Let's load up our data.

In [2]:
import pandas as pd

url = "gs://curriculum-assets/mod-2/spotify.csv"
df = pd.read_csv(url, encoding = 'ISO-8859-1', index_col = 0)

In [3]:
import numpy as np
songs_np = df.to_numpy()

### Selecting Data

In [52]:
df[:3]

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80

Begin by using numpy to select all songs of the genre dance pop.

In [7]:
dance_pop_np = None

In [9]:
dance_pop_np[:3]

# array([['TiK ToK', 'Kesha', 'dance pop', 2010, 120, 84, 76, -3, 29, 71,
#         200, 10, 14, 80],
#        ['Bad Romance', 'Lady Gaga', 'dance pop', 2010, 119, 92, 70, -4,
#         8, 71, 295, 0, 4, 79],
#        ['Dynamite', 'Taio Cruz', 'dance pop', 2010, 120, 78, 75, -4, 4,
#         82, 203, 0, 9, 77]], dtype=object)

Then use pandas to select the valence scores of the first five rows.  Do so first using `iloc` and then `loc`.

In [11]:
first_five_val_iloc = None
first_five_val_iloc
# 1    80
# 2    64
# 3    71
# 4    71
# 5    43
# Name: val, dtype: int64

In [12]:
first_five_val_loc = None
first_five_val_loc
# 1    80
# 2    64
# 3    71
# 4    71
# 5    43
# Name: val, dtype: int64

Next without using loc, or iloc, select only the `title` and  `artist` columns.

In [14]:
songs_artists_df = None

In [16]:
songs_artists_df[:3]

# title	artist
# 1	Hey, Soul Sister	Train
# 2	Love The Way You Lie	Eminem
# 3	TiK ToK	Kesha

                  title  artist
1      Hey, Soul Sister   Train
2  Love The Way You Lie  Eminem
3               TiK ToK   Kesha

Select the rows where all val, acous, and pop have scores above 55.

In [34]:
good_scores_df = None

good_scores_df

# 	title	artist	top genre	year	bpm	nrgy	dnce	dB	live	val	dur	acous	spch	pop
# 280	What Do You Mean?	Justin Bieber	canadian pop	2015	125	57	85	-8	8	79	206	59	10	79
# 310	Trumpets	Jason Derulo	dance pop	2015	82	70	63	-5	10	64	217	56	24	69
# 330	What Do You Mean? - Acoustic	Justin Bieber	canadian pop	2015	125	36	77	-11	10	76	204	79	4	64
# 444	Shape of You	Ed Sheeran	pop	2017	96	65	83	-3	9	93	234	58	8	87
# 560	Walk On Water (feat. Beyonc√©)	Eminem	detroit hip hop	2018	82	44	48	-10	64	62	304	81	24	65
# 573	Memories	Maroon 5	pop	2019	91	32	76	-7	8	57	189	84	5	99

### Sorting Data

Begin by using pandas to sort all of the rows by the `dnce` score, from highest to lowest.

In [12]:
most_dancey = None

In [13]:
most_dancey[:4]


# title	artist	top genre	year	bpm	nrgy	dnce	dB	live	val	dur	acous	spch	pop
# 571	Drip (feat. Migos)	Cardi B	pop	2018	130	59	97	-8	8	27	264	5	26	45
# 540	Bad Liar	Selena Gomez	dance pop	2018	121	41	97	-6	8	73	215	19	7	75
# 258	Anaconda	Nicki Minaj	dance pop	2014	130	60	96	-6	21	65	260	7	18	50
# 390	Me Too	Meghan Trainor	dance pop	2016	124	69	93	-6	48	84	181	10	10	73
#

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
571,Drip (feat. Migos),Cardi B,pop,2018,130,59,97,-8,8,27,264,5,26,45
540,Bad Liar,Selena Gomez,dance pop,2018,121,41,97,-6,8,73,215,19,7,75
258,Anaconda,Nicki Minaj,dance pop,2014,130,60,96,-6,21,65,260,7,18,50
390,Me Too,Meghan Trainor,dance pop,2016,124,69,93,-6,48,84,181,10,10,73

Then use numpy to do the same.

We'll get you started.

In [21]:
df.columns.tolist().index('dnce')

6

> The ordering may be slightly different than the one above, as there are ties.  Still use numpy to sort the rows by danciness.

In [24]:
sorted_songs_np = None

In [ ]:
sorted_songs_np
# array([['Bad Liar', 'Selena Gomez', 'dance pop', ..., 19, 7, 75],
#        ['Drip (feat. Migos)', 'Cardi B', 'pop', ..., 5, 26, 45],
#        ['Anaconda', 'Nicki Minaj', 'dance pop', ..., 7, 18, 50],
#        ...,
#        ['St Jude', 'Florence + The Machine', 'art pop', ..., 75, 3, 47],
#        ['You Lost Me', 'Christina Aguilera', 'dance pop', ..., 85, 4, 56],
#        ['Million Years Ago', 'Adele', 'british soul', ..., 0, 0, 0]],
#       dtype=object)

For each row, add up the sum of the last 10 columns either in numpy.

In [1]:
sum_of_features = None

In [ ]:
sum_of_features[:3]

# array([660, 758, 681], dtype=object)

Now we'll add this to the pandas dataframe.

In [28]:
total_score = pd.Series(sum_of_features, name = 'total_score')

Now we'll assign total score to our dataframe.

In [29]:
df_with_total = df.assign(total_score = total_score)

In [30]:
df_with_total[:3]

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,total_score
1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83,758
2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82,681
3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80,734

Now look through the following dataframe `selected_df`.

In [41]:
cols = ['title', 'artist', 'top genre', 'year',  'nrgy', 'dnce', 
       'live', 'val',  'acous', 'spch', 'pop']
selected_df = df[cols]

In [42]:
selected_df[:3]

,title,artist,top genre,year,nrgy,dnce,live,val,acous,spch,pop
1,"Hey, Soul Sister",Train,neo mellow,2010,89,67,8,80,19,4,83
2,Love The Way You Lie,Eminem,detroit hip hop,2010,93,75,52,64,24,23,82
3,TiK ToK,Kesha,dance pop,2010,84,76,29,71,10,14,80

In the last eight columns (everything after year), find the song whose maximum value across all 8 of those columns, is the smallest for all songs.  In other words, which song has the lowest, high score.

In [55]:
selected_np = selected_df.to_numpy()

In [46]:
# write code here 

# array(['Million Years Ago', 'Adele', 'british soul', 2016, 0, 0, 0, 0, 0,
#        0, 0], dtype=object)

array(['Million Years Ago', 'Adele', 'british soul', 2016, 0, 0, 0, 0, 0,
       0, 0], dtype=object)

Now find the bottom five.

In [56]:
# write code here

# 	title	artist	top genre	year	nrgy	dnce	live	val	acous	spch	pop
# 443	Million Years Ago	Adele	british soul	2016	0	0	0	0	0	0	0
# 360	Run Run Run	Kelly Clarkson	dance pop	2015	37	28	11	8	45	4	36
# 363	L.A.LOVE (la la)	Fergie	dance pop	2015	39	48	26	27	2	9	0
# 208	Foolish Games	Jewel	alaska indie	2013	34	51	12	7	23	3	36
# 262	Words as Weapons	Birdy	neo mellow	2014	35	53	14	19	28	3	44