# Numpy and Pandas Review

### Introduction

In this lesson, we'll work through some problems with our spotify dataset to practice pandas and numpy skills.

Let's load up our data.

In [51]:
import pandas as pd

url = "gs://curriculum-assets/mod-2/spotify.csv"
df = pd.read_csv(url, encoding = 'ISO-8859-1', index_col = 0)

In [52]:
df[:3]

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80

Begin by using pandas to sort all of the rows by the `dnce` score, from highest to lowest.

In [12]:
most_dancey = None

In [13]:
most_dancey[:4]


# title	artist	top genre	year	bpm	nrgy	dnce	dB	live	val	dur	acous	spch	pop
# 571	Drip (feat. Migos)	Cardi B	pop	2018	130	59	97	-8	8	27	264	5	26	45
# 540	Bad Liar	Selena Gomez	dance pop	2018	121	41	97	-6	8	73	215	19	7	75
# 258	Anaconda	Nicki Minaj	dance pop	2014	130	60	96	-6	21	65	260	7	18	50
# 390	Me Too	Meghan Trainor	dance pop	2016	124	69	93	-6	48	84	181	10	10	73
# â€‹

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
571,Drip (feat. Migos),Cardi B,pop,2018,130,59,97,-8,8,27,264,5,26,45
540,Bad Liar,Selena Gomez,dance pop,2018,121,41,97,-6,8,73,215,19,7,75
258,Anaconda,Nicki Minaj,dance pop,2014,130,60,96,-6,21,65,260,7,18,50
390,Me Too,Meghan Trainor,dance pop,2016,124,69,93,-6,48,84,181,10,10,73

Then use numpy to do the same.

We'll get you started.

In [21]:
df.columns.tolist().index('dnce')

6

In [14]:
import numpy as np
songs_np = df.to_numpy()

> The ordering may be slightly different than the one above, as there are ties.

In [24]:
sorted_songs_np = None

In [ ]:
sorted_songs_np
# array([['Bad Liar', 'Selena Gomez', 'dance pop', ..., 19, 7, 75],
#        ['Drip (feat. Migos)', 'Cardi B', 'pop', ..., 5, 26, 45],
#        ['Anaconda', 'Nicki Minaj', 'dance pop', ..., 7, 18, 50],
#        ...,
#        ['St Jude', 'Florence + The Machine', 'art pop', ..., 75, 3, 47],
#        ['You Lost Me', 'Christina Aguilera', 'dance pop', ..., 85, 4, 56],
#        ['Million Years Ago', 'Adele', 'british soul', ..., 0, 0, 0]],
#       dtype=object)

For each row, add up the sum of the last 10 columns either in numpy.

In [54]:
sum_of_features = np.sum(songs_np[:, -10:], axis = 1)

array([660, 758, 681], dtype=object)

In [ ]:
sum_of_features[:3]

# array([660, 758, 681], dtype=object)

Now we'll add this to the pandas dataframe.

In [28]:
total_score = pd.Series(sum_of_features, name = 'total_score')

Now we'll assign total score to our dataframe.

In [29]:
df_with_total = df.assign(total_score = total_score)

In [30]:
df_with_total[:3]

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,total_score
1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83,758
2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82,681
3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80,734

Now look through the following dataframe `selected_df`.

In [41]:
cols = ['title', 'artist', 'top genre', 'year',  'nrgy', 'dnce', 
       'live', 'val',  'acous', 'spch', 'pop']
selected_df = df[cols]

In [42]:
selected_df[:3]

,title,artist,top genre,year,nrgy,dnce,live,val,acous,spch,pop
1,"Hey, Soul Sister",Train,neo mellow,2010,89,67,8,80,19,4,83
2,Love The Way You Lie,Eminem,detroit hip hop,2010,93,75,52,64,24,23,82
3,TiK ToK,Kesha,dance pop,2010,84,76,29,71,10,14,80

In the last eight columns (everything after year), find the song whose maximum value across all 8 of those columns, is the smallest for all songs.  In other words, which song has the lowest, high score.

In [55]:
selected_np = selected_df.to_numpy()

In [46]:
# write code here 

# array(['Million Years Ago', 'Adele', 'british soul', 2016, 0, 0, 0, 0, 0,
#        0, 0], dtype=object)

array(['Million Years Ago', 'Adele', 'british soul', 2016, 0, 0, 0, 0, 0,
       0, 0], dtype=object)

Now find the bottom five.

In [56]:
# write code here

# 	title	artist	top genre	year	nrgy	dnce	live	val	acous	spch	pop
# 443	Million Years Ago	Adele	british soul	2016	0	0	0	0	0	0	0
# 360	Run Run Run	Kelly Clarkson	dance pop	2015	37	28	11	8	45	4	36
# 363	L.A.LOVE (la la)	Fergie	dance pop	2015	39	48	26	27	2	9	0
# 208	Foolish Games	Jewel	alaska indie	2013	34	51	12	7	23	3	36
# 262	Words as Weapons	Birdy	neo mellow	2014	35	53	14	19	28	3	44